#lucky-button{
  // height: 10em;
  border-radius: 5px;
  font-size: 40px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  // margin-right: -50%;
  transform: translate(-50%, -50%);
}

#lucky-button > p{
-webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
animation: 2s linear infinite condemned_blink_effect;
}

@-webkit-keyframes condemned_blink_effect { 
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}



#lucky-page{
  text-align: center;
}

.btn-custom{
//  font-size: 3.2em; button big!
}

.match-msg{
  margin: 0px 10%;
}

#yes-button{
  font-size: 2.5em;
}

#yes-button:active{
  transform: translateX(200%);
  font-size: 5.5em;
}

.gif-container {
  height: calc(100vh - 80px);
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image {
  // width: 75%;
  height: 300px;
  width: 300px;
}

#lucky-page{
  .left-avatar{
    animation-duration: 2.5s;
    animation-name: slideInFromLeft;  
  }

  .right-avatar{
    animation-duration: 2.5s;
    animation-name: slideInFromRight;  
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}