
<div class="image-gallery">
  <% if event.photos.attached? %>
    <% event.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 200, crop: :fill %>
    <% end %>
  <% end %>
  <div >
    <br>
    <h3><%= link_to event.restaurant_name, event_path(event) %></h2>
  </div>
  <div  >
    <p><%= event.restaurant_address %></p>
  </div>
</div>
