<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="event index-event-card">
          </div>
            <div class="name">
              <button type="button" class="btn btn-info"><%= link_to event.event_name, event_path(event) %></button>
              <p><%= event.description %></p>
              <p><%= event.user_id %></p>

            </div>
        </div>
      </div>
    <% end %>
  </div>
