<div class="container">
  <div class="buttonm">
    <%= link_to "Create", new_event_path, class: "btn btn-success" %>
  </div>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="event index-event-card">
            </div>
              <div class="name">
                <button type="button" class="btn btn-outline-secondary"><%= link_to event.name, event_path(event) %></button>
                <p><%= event.description %></p>
              </div>
            <div class="price">
              <%= event.price %> €
            </div>
          </div>
        </div>
      <% end %>
    </div>
