<div class="container">
  <div class="row my-5">
    <div class="col-xs-12 col-md-6">
      <div class="event-card">
        <div class="card-infos">
          <div>
            <h2><%= @event.event_name %></h2>
            <p><%= @event.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
