<div class="container">
  <div class='home-banner'>
    <h1>LunchMates</h1>
    <div class="homepage-form-wrapper">
      <link rel="stylesheet" href="css/style.css">
      <%= form_tag events_path, method: :get, class: "homepage-form justify-content-center " do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter your address/ zipcode 📌"
      %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <%= submit_tag "Find your LunchMates", class: "btn btn-home", id: "Event-submit" %>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <button type="button" class="btn btn-home" id="myLocation">Detect my location</button>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
