<div class="container pt-5">
  <div class="logo-font"><%= image_tag "lunchmates-logo-05.png" %></div>
  <!-- <h1>LunchMates</h1> -->
  <div class="col-12 my-4">
    <div class="col-12 my-4 justify-content-center">
      <p id= "slogon"> Let's eat together</p>

    </div>
  <div class="homepage-form-wrapper pt-3">
    <%= form_tag events_path, method: :get, class: "homepage-form justify-content-center " do %>
      <%= text_field_tag :location,
      params[:query],
      class: "form-control",
      placeholder: "Enter your address/ zipcode "
    %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-wrap justify-content-center">
        <%= submit_tag "Find your LunchMates", class: "btn btn-home mt-3", id: "Event-submit" %>
          <button type="button" class="btn btn-home-detect mt-3" id="myLocation">Detect my location</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
