<div class="container pt-4">
  <h2>Dashboard</h2>
  <div class="row pt-4">
    <div class="cards col-12">
      <h3>Hosting</h3>
      <% if current_user.events.empty? %>
        <p>You are not hosting any events!</p>
      <% else %>
        <%= render :partial => "events/event_button", :collection => @events %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="cards col-12">
      <h3>Joining</h3>
      <% if current_user.bookings.empty? %>
        <p>You don't have any upcoming bookings!</p>
      <% else %>
        <%= render :partial => "events/event_button", :collection => @bookings %>
      <% end %>
    </div>
  </div>
</div>
