.btn-ghost {
  display: inline-block;
  width: 200px;
  padding: 6px;
  color: #dbdbdb;
  border: 2px solid #dbdbdb;
  text-align: center;
  outline: none;
  text-decoration: none;
  // transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn-ghost:hover, .btn-ghost:active {
  background-color: #dbdbdb;
}
