.btn-custom {
  background-color: #FFA892;
  border: 1px solid #FFA892;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
}

.btn-custom:active {
  text-decoration: none;
  color: white;
  background-color: #ff9277;
  border: none;
}

.btn-home {
  background-color: #FFA892;
  border: 1px solid #FFA892;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
  width:100%;
  &:hover {
    color:#808080;
  }
}


.btn-home-detect {
  background-color: #b19cd9;
  border: 1px solid #b19cd9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
  width:100%;
  &:hover {
    color:#808080;
  }
}

#list {
  padding: 25px;

}

.btn-ghost {
    text-decoration: none;
    font-weight:600;
    color: #999999 ;
    border: 1px solid #999999;
    padding: 0.65em 1.7em;
    display: inline-block;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.6s ease 0s;
    cursor: pointer;
}

a.btn-ghost:hover{
  color: white;
}

.btn-create-message {
  background-color: #b19cd9;
  border: 1px solid #b19cd9;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
  &:hover {
    color:#808080;
  }
}



