.btn-custom {
  background-color: #FFA892;
  border: 1px solid #FFA892;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
}

.btn-custom:active {
  text-decoration: none;
  color: white;
  background-color: #ff9277;
  border: none;
}

.btn-home {
  background-color: #FFA892;
  border: 1px solid #FFA892;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
  width:100%;
  &:hover {
    color:#808080;
  }
}


.btn-home-detect {
  background-color: #b19cd9;
  border: 1px solid #b19cd9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
  width:100%;
  &:hover {
    color:#808080;
  }
}

#list {
  padding: 25px;

}




