.card-custom {
  background: white;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-weight: 700;
  .btn-custom {
    position: absolute;
    right: 25px;
    bottom: 20px;
  }
}

.lockup {
  padding: 10px;
  flex-grow: 1;
}

h5 {
  font-weight: 700;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}
