.mapboxgl-popup {
  max-width: 200px;
  color:black;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Rubik';
  font-weight: 700;
  color: black;
  text-align: left;
}

.mapboxgl-canvas {
  // height: 800px !important;
  object-fit: cover;
}

#map {
  width: 100%;
  height: calc(100vh - 80px);
}
