.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-canvas {
  // height: 800px !important;
  object-fit: cover;
}

#map {
  width: 100%;
  height: calc(100vh - 80px);
}
