.navbar-lewagon {
  justify-content: space-between;
  background: #617E84;
  color: white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: #617E84;
}

.navbar-lewagon .navbar-brand img {
  width: 115px;
}

.content {
  margin-top: 80px;
}

.nav-item.dropdown {
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #617E84;
}

.navbar-nav.mr-auto {
  padding-left: 15px;
  color: white;
  border-radius: 5px;
}
