.navbar-lewagon {
  justify-content: space-between;
  background: #617E84;
  color: white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color:
}

.navbar-lewagon .navbar-brand img {
  width: 115px;
}

.content {

  margin-top: 80px;
}
